<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.AreaWithdrawalApplyMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.AreaWithdrawalApply">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="management_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="apply_money" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="apply_note" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="check_note" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="check_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="real_money" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="area_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="deduct_rate" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        awa.id, awa.management_id, awa.apply_money, awa.apply_note, awa.check_note, awa.check_time, awa.real_money, awa.status, awa.create_time, awa.update_time, awa.deduct_rate
    </sql>
    <select id="getAreaWithdrawApplyList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, null as area_name
        from area_withdrawal_apply awa
        where 1 = 1
        <if test="managementId != null">
            and awa.management_id = #{managementId}
        </if>
        <if test="startDate != null">
            and awa.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null">
            and awa.create_time &lt; #{endDate}
        </if>
        order by awa.create_time desc
    </select>
</mapper>