<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.AreaBillMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.AreaBill">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="TINYINT" javaType="java.lang.Integer"/>
            <arg column="area_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ab.id, ab.shop_id, ab.order_id, ab.price, ab.note, ab.type, ab.area_code, ab.create_time
    </sql>
    <select id="getAreaBillByAreaCode" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from area_bill ab
        where ab.area_code = #{areaCode}
        <if test="endDate != null">
            and ab.create_time &lt; #{endDate}
        </if>
        <if test="type != null">
            and ab.type = #{type}
        </if>
    </select>

    <select id="getAreaBillByAreaCodeAndType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from area_bill ab
        where ab.area_code = #{areaCode}
        <if test="startDate != null">
            and ab.create_time &gt; #{createDate}
        </if>
        <if test="endDate != null">
            and ab.create_time &lt; #{endDate}
        </if>
        <if test="type != null">
            and ab.type = #{type}
        </if>
    </select>

    <select id="getAreaAccontMoneyData" resultType="BigDecimal" parameterType="map">
        select sum(ab.price) from area_bill ab where ab.area_code = #{areaCode}
        <if test="type != null">
            and ab.type = #{type}
        </if>
    </select>
</mapper>