<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.ExpressMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.vo.ExpressVO">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="native_password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="area_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="area_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="ExpressStaticsVO" type="com.chongdao.client.vo.ExpressStaticsVO">
        <constructor>
            <arg column="week_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="month_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <resultMap id="CompleteOrderStaticsVO" type="com.chongdao.client.vo.CompleteOrderStaticsVO">
        <constructor>
            <arg column="weeks" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="total_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="total_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="start_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="end_date" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <resultMap id="CompleteOrderStaticsSingleVO" type="com.chongdao.client.vo.CompleteOrderStaticsSingleVO">
        <constructor>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="total_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="total_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        exp.id, exp.username, exp.password, exp.native_password, exp.name, exp.phone, exp.type, exp.status, exp.area_code, exp.area_name
    </sql>
    <select id="getExpressListByAreaCodeAndName" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from express exp
        where exp.area_code = #{areaCode}
        <if test="name != null and name != ''">
            and exp.name like concat("%", #{name}, "%")
        </if>
        <if test="status != null">
            and exp.status = #{status}
        </if>
        <if test="type != null">
            and exp.type = #{type}
        </if>
        order by exp.area_code asc, exp.status desc, exp.type desc, exp.id asc
    </select>
    <select id="getCompleteOrderStatics" resultMap="ExpressStaticsVO" parameterType="map">
        select *
        from (SELECT count(1) as week_count
        FROM order_info odi
        WHERE DATE_FORMAT(odi.create_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
        <if test="expressId != null">
            and odi.express_id = #{expressId}
        </if>
        ) A
        left join (SELECT count(2) as month_count
        FROM order_info odi
        WHERE YEARWEEK(date_format(odi.create_time, '%Y-%m-%d')) = YEARWEEK(now()) <if test="expressId != null">
        and odi.express_id = #{expressId}
    </if>) B on 1 = 1
    </select>
    <select id="getCompleteOrderStaticsGroupByWeek" resultMap="CompleteOrderStaticsVO" parameterType="map">
        SELECT DATE_FORMAT(odi.express_receive_time, '%Y%u') weeks,
        count(1) AS total_count,
        SUM(IFNULL(origin_service_price, 0) - IFNULL(insurance_price, 0)) AS total_money,
        DATE_FORMAT(
        (SELECT DATE_ADD(odi.express_receive_time, INTERVAL - WEEKDAY(odi.express_receive_time) DAY)),
        '%Y%m%d') AS start_date,
        DATE_FORMAT((SELECT DATE_ADD(odi.express_receive_time, INTERVAL
        - WEEKDAY(odi.express_receive_time) + 6 DAY)), '%Y%m%d') AS
        end_date
        FROM order_info odi
        left join express e on odi.express_id = e.id
        WHERE 1 = 1
        and odi.express_id is not null
        and e.type = 1
        <if test="areaCode != null and areaCode != ''">
            and odi.area_code = #{areaCode}
        </if>
        <if test="type != null">
            and odi.order_status in (${type})
        </if>
        <if test="expressId != null">
            and odi.express_id = #{expressId}
        </if>
        GROUP BY weeks, start_date, end_date
        ORDER BY weeks DESC
    </select>
    <select id="getCompleteOrderStaticsGroupByNameLimitStartAndEndDate" resultMap="CompleteOrderStaticsSingleVO" parameterType="map">
        SELECT DATE_FORMAT(odi.express_receive_time, '%Y%u') weeks,
        count(1) AS total_count,
        SUM(IFNULL(origin_service_price, 0) - IFNULL(insurance_price, 0)) AS total_money,
        DATE_FORMAT(
        (SELECT DATE_ADD(odi.express_receive_time, INTERVAL - WEEKDAY(odi.express_receive_time) DAY)),
        '%Y%m%d') AS start_date,
        DATE_FORMAT((SELECT DATE_ADD(odi.express_receive_time, INTERVAL
        - WEEKDAY(odi.express_receive_time) + 6 DAY)), '%Y%m%d') AS
        end_date
        FROM order_info odi
        left join express e on odi.express_id = e.id
        WHERE 1 = 1
        and odi.express_id is not null
        and e.type = 1
        <if test="areaCode != null and areaCode != ''">
            and odi.area_code = #{areaCode}
        </if>
        <if test="type != null">
            and odi.order_status in (${type})
        </if>
        <if test="expressId != null">
            and odi.express_id = #{expressId}
        </if>
        GROUP BY weeks, start_date, end_date
        ORDER BY weeks DESC
    </select>
</mapper>