<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.GoodsType">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="module_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sort" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="TINYINT" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, module_id,parent_id, category_id, shop_id, sort, status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from goods_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from goods_type
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chongdao.client.entitys.GoodsType">
        insert into goods_type (id, name, module_id,parent_id,
                                category_id, shop_id, sort,
                                status, create_time, update_time,img_url)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{moduleId,jdbcType=INTEGER},
                #{categoryId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER},
                #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{imgUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.chongdao.client.entitys.GoodsType">
        insert into goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="moduleId != null">
                module_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null">
                #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chongdao.client.entitys.GoodsType">
        update goods_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null">
                module_id = #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chongdao.client.entitys.GoodsType">
        update goods_type
        set name        = #{name,jdbcType=VARCHAR},
            module_id   = #{moduleId,jdbcType=INTEGER},
            parent_id = #{parentId,jdbcType=INTEGER},
            category_id = #{categoryId,jdbcType=INTEGER},
            shop_id     = #{shopId,jdbcType=INTEGER},
            sort        = #{sort,jdbcType=INTEGER},
            status      = #{status,jdbcType=TINYINT},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            img_url        = #{imgUrl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods_type where status in (0,1) and shop_id=#{shopId} and category_id in (#{categoryId})
        order by sort asc
    </select>


    <select id="getGoodCategoryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from goods_type where status in (0,1)
        order by sort asc
    </select>


    <update id="updateGoodTypeStatus" parameterType="map">
        update goods_type
        set status=#{status}
        where id = #{goodTypeId}
    </update>
</mapper>