<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chongdao.client.mapper.GoodMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.Good">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="icon" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="discount" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="re_discount" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="unit" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="unit_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="des" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="goods_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="ratio" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="ratio_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="module_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="sales" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="brand_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="scope_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="pet_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="bathing_service_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="area_code" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="qr_code" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="shop_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <resultMap id="PcResultMap" type="com.chongdao.client.vo.GoodsPcVO">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="icon" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="discount" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="re_discount" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="unit" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="unit_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="des" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="goods_type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="ratio" javaType="java.lang.Double" jdbcType="DOUBLE" />
            <arg column="ratio_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
            <arg column="stock" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="status" javaType="java.lang.Byte" jdbcType="TINYINT" />
            <arg column="module_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="sales" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="brand_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="scope_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="pet_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="bathing_service_id" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="area_code" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="qr_code" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="shop_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="category_name" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="goods_type_name" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, icon, price, discount,re_discount, unit, unit_name, des, goods_type_id, shop_id, ratio, ratio_price,
    stock, create_time, update_time, status, module_id, category_id, sales, type_name,
    brand_id, scope_id, pet_category_id, bathing_service_id,sort,area_code,qr_code,shop_ids
    </sql>
    <sql id="Base_Column_Lists">
        g.id, g.name, g.icon, g.price, g.discount, g.re_discount, g.unit, g.unit_name, g.des, g.goods_type_id, g.shop_id, g.ratio, g.ratio_price,
    g.stock, g.create_time, g.update_time, g.status, g.module_id, g.category_id, g.sales, g.type_name,
    g.brand_id, g.scope_id, g.pet_category_id, g.bathing_service_id,sort,area_code,qr_code,shop_ids
    </sql>
    <sql id="PC_Column_Lists">
        g.id, g.name, g.icon, g.price, g.discount, g.re_discount, g.unit, g.unit_name, g.des, g.goods_type_id, g.shop_id, g.ratio, g.ratio_price,
    g.stock, g.create_time, g.update_time, g.status, g.module_id, g.category_id, g.sales, g.type_name,
    g.brand_id, g.scope_id, g.pet_category_id, g.bathing_service_id, g.sort, g.area_code, g.qr_code, g.shop_ids
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from good
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from good
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.chongdao.client.entitys.Good">
        insert into good (id, name, icon,
                          price, discount, re_discount, unit,
                          unit_name,
                          des, goods_type_id, shop_id,
                          ratio, ratio_price, stock,
                          create_time, update_time, status,
                          module_id, category_id, sales,
                          type_name, brand_id, scope_id,
                          pet_category_id, bathing_service_id,sort,area_code,qr_code,shop_ids)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL}, #{discount,jdbcType=DOUBLE}, #{reDiscount,jdbcType=DOUBLE}, #{unit,jdbcType=VARCHAR},
                #{unitName,jdbcType=VARCHAR},#{des,jdbcType=VARCHAR}, #{goodsTypeId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER},
                #{ratio,jdbcType=DOUBLE}, #{ratioPrice,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
                #{moduleId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER},
                #{typeName,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{scopeId,jdbcType=INTEGER},
                #{petCategoryId,jdbcType=INTEGER}, #{bathingServiceId,jdbcType=VARCHAR},#{sort,jdbcType=INTEGER},
                #{areaCode,jdbcType=VARCHAR},#{qrCode,jdbcType=VARCHAR},#{shopIds,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.chongdao.client.entitys.Good">
        insert into good
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="reDiscount != null">
                re_discount,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="unitName != null">
                unit_name,
            </if>
            <if test="des != null">
                des,
            </if>
            <if test="goodsTypeId != null">
                goods_type_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="ratio != null">
                ratio,
            </if>
            <if test="ratioPrice != null">
                ratio_price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="moduleId != null">
                module_id,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="sales != null">
                sales,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="brandId != null">
                brand_id,
            </if>
            <if test="scopeId != null">
                scope_id,
            </if>
            <if test="petCategoryId != null">
                pet_category_id,
            </if>
            <if test="bathingServiceId != null">
                bathing_service_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="areaCode != null">
                area_code,
            </if>
            <if test="qrCode != null">
                qr_code,
            </if>
            <if test="shopIds != null">
                shop_ids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=DOUBLE},
            </if>
            <if test="reDiscount != null">
                #{reDiscount,jdbcType=DOUBLE},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="unitName != null">
                #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="des != null">
                #{des,jdbcType=VARCHAR},
            </if>
            <if test="goodsTypeId != null">
                #{goodsTypeId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="ratio != null">
                #{ratio,jdbcType=DOUBLE},
            </if>
            <if test="ratioPrice != null">
                #{ratioPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="moduleId != null">
                #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="sales != null">
                #{sales,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                #{brandId,jdbcType=INTEGER},
            </if>
            <if test="scopeId != null">
                #{scopeId,jdbcType=INTEGER},
            </if>
            <if test="petCategoryId != null">
                #{petCategoryId,jdbcType=INTEGER},
            </if>
            <if test="bathingServiceId != null">
                #{bathingServiceId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="areaCode != null">
                #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="qrCode != null">
                #{qrCode,jdbcType=VARCHAR},
            </if>
            <if test="shopIds != null">
                #{shopIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chongdao.client.entitys.Good">
        update good
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DOUBLE},
            </if>
            <if test="reDiscount != null">
                re_discount = #{reDiscount,jdbcType=DOUBLE},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="unitName != null">
                unit_name = #{unitName,jdbcType=VARCHAR},
            </if>
            <if test="des != null">
                des = #{des,jdbcType=VARCHAR},
            </if>
            <if test="goodsTypeId != null">
                goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="ratio != null">
                ratio = #{ratio,jdbcType=DOUBLE},
            </if>
            <if test="ratioPrice != null">
                ratio_price = #{ratioPrice,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="moduleId != null">
                module_id = #{moduleId,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="sales != null">
                sales = #{sales,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="brandId != null">
                brand_id = #{brandId,jdbcType=INTEGER},
            </if>
            <if test="scopeId != null">
                scope_id = #{scopeId,jdbcType=INTEGER},
            </if>
            <if test="petCategoryId != null">
                pet_category_id = #{petCategoryId,jdbcType=INTEGER},
            </if>
            <if test="bathingServiceId != null">
                bathing_service_id = #{bathingServiceId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
               sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="areaCode != null">
                area_code = #{areaCode,jdbcType=VARCHAR},
            </if>
            <if test="qrCode != null">
                qr_code = #{qrCode,jdbcType=VARCHAR},
            </if>
            <if test="shopIds != null">
                shop_ids = #{shopIds,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chongdao.client.entitys.Good">
        update good
        set name = #{name,jdbcType=VARCHAR},
            icon = #{icon,jdbcType=VARCHAR},
            price = #{price,jdbcType=DECIMAL},
            discount = #{discount,jdbcType=DOUBLE},
            re_discount = #{reDiscount,jdbcType=DOUBLE},
            unit = #{unit,jdbcType=VARCHAR},
            unit_name = #{unitName,jdbcType=VARCHAR},
            des = #{des,jdbcType=VARCHAR},
            goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
            shop_id = #{shopId,jdbcType=INTEGER},
            ratio = #{ratio,jdbcType=DOUBLE},
            ratio_price = #{ratioPrice,jdbcType=DECIMAL},
            stock = #{stock,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            status = #{status,jdbcType=TINYINT},
            module_id = #{moduleId,jdbcType=INTEGER},
            category_id = #{categoryId,jdbcType=INTEGER},
            sales = #{sales,jdbcType=INTEGER},
            type_name = #{typeName,jdbcType=VARCHAR},
            brand_id = #{brandId,jdbcType=INTEGER},
            scope_id = #{scopeId,jdbcType=INTEGER},
            pet_category_id = #{petCategoryId,jdbcType=INTEGER},
            bathing_service_id = #{bathingServiceId,jdbcType=VARCHAR},
            sort = #{sort,jdbcType=INTEGER},
            area_code = #{areaCode,jdbcType=VARCHAR},
            qr_code = #{qrCode,jdbcType=VARCHAR},
            shop_ids = #{shopIds,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!-- 获取我的收藏商品 -->
    <select id="getFavouriteGoodList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_Lists" />,
        (select name from category c where c.id=g.category_id ) categoryName,
        p.id coupon_id,p.coupon_name,p.type
        from  good g
        left join coupon p on g.shop_id = p.shop_id
        left join favourite_good fg on g.id = fg.good_id
        where g.status = 1 and p.status=0 and fs.status = 1 and fs.user_id = #{userId}
        order by g.create_time desc
    </select>

    <select id="getGoodList" parameterType="map" resultMap="PcResultMap">
        select <include refid="PC_Column_Lists" />, c.name as category_name, gt.name as goods_type_name
        from good g
        LEFT JOIN category c on g.category_id = c.id
        left join goods_type gt on g.goods_type_id = gt.id
        where g.status in (0,1) and g.shop_id = #{shopId}
        <if test="goodName != null ">
            and g.name like concat(concat("%",#{goodName}),"%")
        </if>
        <if test="goodsTypeId != null ">
            and g.goods_type_id = #{goodsTypeId}
        </if>
        order by g.create_time asc
    </select>

    <update id="updateGoodsStatus" parameterType="map">
        update good set status=#{status}
        where id = #{goodId}
    </update>

    <update id="goodsDiscount" parameterType="map">
        update good
        <set>
            <if test="discount != null">
                discount=#{discount},
            </if>
            <if test="reDiscount != null">
                re_discount=#{reDiscount},
            </if>
        </set>
        where goods_type_id = #{goodsTypeId} and shop_id = #{shopId}
    </update>




    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from good where status = 1
        order by id asc
    </select>

    <select id="selectListByShopId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from good where status = 1 and shop_id=#{shopId}
        order by id asc
    </select>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_Lists"/>
        from  good g
        where g.status = 1 and g.area_code = #{areaCode} and g.category_id = 3
        <if test="goodsName != null">
            and g.name like #{goodsName}
        </if>
        <if test="brandId != null">
            and g.brand_id = #{brandId}
        </if>
        <if test="goodsTypeId != null">
            and g.goods_type_id = #{goodsTypeId}
        </if>
        <if test="scopeIds != null">
            and g.scope_id in (${scopeIds})
        </if>
        <if test="petCategoryId != null">
            and g.pet_category_id = #{petCategoryId}
        </if>

        order by ${orderBy}
    </select>


    <select id="selectByShopIdAndCategoryId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from good where status = 1 and shop_id=#{shopId} and category_id=#{categoryId}
        order by id asc
    </select>

    <select id="paymentNumber" resultType="int" parameterType="int">
        select count(1) from order_detail od inner JOIN good g on g.id=od.good_id INNER JOIN order_info o ON od.order_no=o.order_no
        where od.good_id=#{goodId} and o.order_status > 1
    </select>
    <select id="findByShopIdAndGoodsTypeId" resultMap="BaseResultMap">
        select g.id, g.name, g.icon, g.price, g.discount,g.re_discount, g.unit, g.unit_name, g.des,
         g.goods_type_id, g.shop_id, g.ratio, g.ratio_price,  g.create_time, g.update_time,    g.stock, g.status, g.category_id, g.sales,
         g.brand_id, g.scope_id, g.pet_category_id, g.bathing_service_id,g.sort,g.area_code, g.qr_code,gt.module_id module_id,g.type_name,g.area_code
          from good g Inner join goods_type gt on g.goods_type_id = gt.id
          where g.shop_id = #{shopId} and g.goods_type_id = #{id}
    </select>

    <select id="findByShopIdAndStatus" resultMap="BaseResultMap">
        select g.id, g.name, g.icon, g.price, g.discount,g.re_discount, g.unit, g.unit_name, g.des,
         g.goods_type_id, g.shop_id, g.ratio, g.ratio_price,  g.create_time, g.update_time,    g.stock, g.status, g.category_id, g.sales,
         g.brand_id, g.scope_id, g.pet_category_id, g.bathing_service_id,g.sort,g.area_code, g.qr_code,gt.module_id module_id,g.type_name,g.area_code
          from good g Inner join goods_type gt on g.goods_type_id = gt.id
          where g.shop_id = #{shopId} and g.status=0
    </select>

    <select id="findOfficialShopGoodsList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
          from good
          where id in (${goodsId}) and shop_id = 1 and statatus = 1
    </select>

    <update id="updateDiscount">
        update good
        <set>
            <if test="discount != null">
                discount=#{discount},
            </if>
            <if test="reDiscount != null">
                re_discount=#{reDiscount},
            </if>
        </set>
        where shop_id = #{shopId}
        <if test="ids != null">
            and goods_type_id in
            <foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>