<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.InsuranceOrderMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.InsuranceOrder">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="insurance_order_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="card_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="is_send_msg" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="id_card_front_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="id_card_reverse_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_seq_no" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="accept_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_card_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_address" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="accept_mail" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="beneficiary" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="ration_type" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insurance_type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="pet_card_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="pet_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_breed_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="pet_breed_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_age" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="pet_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_flank" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_front" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_reverse" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="medical_insurance_shop_chip_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="shop_chip_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="apply_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="audit_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="sign_bill_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="insurance_effect_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="insurance_failure_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="sum_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="sum_premium" javaType="java.math.BigDecimal" jdbcType="DECIMAL"/>
            <arg column="pay_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="proposal_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="policy_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="policy_download_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="policy_image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="policy_cdxx_download_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="policy_cdxx_image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="invoice_download_url" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="invoice_image" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="recommend_code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="shop_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        io.id, io.insurance_order_no, io.user_id, io.name, io.card_type, io.card_no, io.phone, io.email, io.address, io.is_send_msg, io.id_card_front_photo, io.id_card_reverse_photo, io.bank_card_photo, io.bank_card_no, io.accept_seq_no, io.accept_name,
    io.accept_name, io.accept_card_type, io.accept_card_no, io.accept_phone, io.accept_address, io.accept_mail, io.beneficiary, io.ration_type, io.insurance_type, io.pet_card_id, io.pet_name, io.pet_breed_id, io.pet_breed_name, io.pet_age, io.pet_photo, io.pet_photo_flank, io.pet_photo_front, io.pet_photo_reverse, io.medical_insurance_shop_chip_id,
io.shop_chip_code, io.order_no, io.status, io.create_time, io.apply_time, io.audit_time, io.sign_bill_time, io.insurance_effect_time, io.insurance_failure_time, io.sum_amount, io.sum_premium, io.pay_url, io.proposal_no, io.policy_no, io.policy_download_url,
io.policy_image, io.policy_cdxx_download_url, io.policy_cdxx_image, io.invoice_download_url, io.invoice_image, io.recommend_code
    </sql>
    <select id="getInsuranceDataList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, s.shop_name
        from insurance_order io
        left join insurance_shop_chip isc on io.medical_insurance_shop_chip_id = isc.id
        left join shop s on isc.shop_id = s.id
        where 1 = 1
        and io.status != -1 and io.status != 0
        <if test="insuranceType != null">
            and io.insurance_type = #{insuranceType}
        </if>
        <if test="userName != null and userName != ''">
            and io.name like concat('%', #{userName}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and io.phone like concat('%', #{phone}, '%')
        </if>
        <if test="insuranceOrderNo != null and insuranceOrderNo != ''">
            and io.insurance_order_no like concat('%', #{insuranceOrderNo}, '%')
        </if>
        <if test="start != null">
            and io.apply_time &gt; #{start}
        </if>
        <if test="end != null">
            and io.apply_time &lt; #{end}
        </if>
        <if test="status != null and status != 99">
            and io.status = #{status}
        </if>
        order by io.apply_time desc
    </select>
    <select id="getInsuranceOrderDetail" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, s.shop_name
        from insurance_order io
        left join insurance_shop_chip isc on io.medical_insurance_shop_chip_id = isc.id
        left join shop s on isc.shop_id = s.id
        where io.id = #{insuranceId}
    </select>

    <select id="checkShopChipIsUsed" resultType="java.lang.Integer" parameterType="map">
        select ifnull(count(1), 0) as amount
        from insurance_order io
        where io.shop_chip_code = #{shopChipCode}
    </select>
</mapper>