<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.InsuranceClaimsMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.InsuranceClaims">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="medical_insurance_order_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="diagnostic_proof" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="cost_list" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pay_credentials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="other_materials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_flank" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_front" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_reverse" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="audit_status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="insurance_total_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="admin_opinion" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insurance_opinion" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insurance_order_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_breed_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_age" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        </constructor>
    </resultMap>
    <resultMap id="InsuranceClaimsAuditVO" type="com.chongdao.client.vo.InsuranceClaimsAuditVO">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="medical_insurance_order_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="diagnostic_proof" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="cost_list" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pay_credentials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="other_materials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_flank" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_front" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_reverse" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="audit_status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="insurance_total_fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="admin_opinion" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insurance_opinion" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="insurance_order_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="sum_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="sum_premium" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="UserInsuranceTodoVO" type="com.chongdao.client.vo.UserInsuranceTodoVO">
        <constructor>
            <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="core" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="shop_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ic.id, ic.medical_insurance_order_id, ic.diagnostic_proof, ic.cost_list, ic.pay_credentials, ic.other_materials,
ic.pet_photo_flank, ic.pet_photo_front, ic.pet_photo_reverse, ic.bank_card_no, ic.bank_card_photo,
ic.audit_status, ic.money, ic.insurance_total_fee, ic.create_time, ic.update_time, ic.admin_opinion, ic.insurance_opinion
    </sql>
    <select id="getMyClaimsList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, io.insurance_order_no, io.pet_name, io.pet_photo, io.pet_breed_name,
        io.pet_age
        from insurance_claims ic
        left join insurance_order io on ic.medical_insurance_order_id = io.id
        where io.user_Id = #{userId}
        <if test="startDate != null">
            and ic.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null">
            and ic.create_time &lt; #{endDate}
        </if>
        order by ic.create_time desc
    </select>

    <select id="getInsuranceClaimsDataList" resultMap="InsuranceClaimsAuditVO" parameterType="map">
        select
        <include refid="Base_Column_List"/>, io.insurance_order_no, io.sum_amount, io.sum_premium, io.name, io.phone
        from insurance_claims ic
        left join insurance_order io on ic.medical_insurance_order_id = io.id
        where 1 = 1
        <if test="insuranceType != null">
            and io.insurance_type = #{insuranceType}
        </if>
        <if test="userName != null and userName != ''">
            and io.name like concat('%', #{userName}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and io.phone like concat('%', #{phone}, '%')
        </if>
        <if test="insuranceOrderNo != null and insuranceOrderNo != ''">
            and io.insurance_order_no like concat('%', #{insuranceOrderNo}, '%')
        </if>
        <if test="status != null">
            and ic.audit_status = #{status}
        </if>
        <if test="start != null">
            and ic.create_time &gt; #{start}
        </if>
        <if test="end != null">
            and ic.create_time &lt; #{end}
        </if>
        order by ic.create_time desc
    </select>

    <select id="getClaimsByInsuranceOrderId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, io.insurance_order_no, io.pet_name, io.pet_photo, io.pet_breed_name,
        io.pet_age
        from insurance_claims ic
        left join insurance_order io on ic.medical_insurance_order_id = io.id
        where ic.medical_insurance_order_id = #{insuranceOrderId}
        limit 0, 1
    </select>

    <select id="getUserTodoList" resultMap="UserInsuranceTodoVO" parameterType="map">
        SELECT ic.id, ic.money, null as core, null as shop_name, null as order_no
        FROM insurance_claims ic
        LEFT JOIN insurance_order io on ic.medical_insurance_order_id = io.id
        WHERE ic.audit_status = 3
        <if test="userId != null">
            and io.user_id = #{userId}
        </if>
    </select>
</mapper>