<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.InsuranceClaimsMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.InsuranceClaims">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="medical_insurance_order_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="diagnostic_proof" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="cost_list" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pay_credentials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="other_materials" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_flank" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_front" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo_reverse" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_no" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="bank_card_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="audit_status" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="pet_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_photo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_breed_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="pet_age" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        </constructor>
    </resultMap>
    <resultMap id="UserInsuranceTodoVO" type="com.chongdao.client.vo.UserInsuranceTodoVO">
        <constructor>
            <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="core" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        ic.id, ic.medical_insurance_order_id, ic.diagnostic_proof, ic.cost_list, ic.pay_credentials, ic.other_materials, ic.pet_photo_flank, ic.pet_photo_front, ic.pet_photo_reverse, ic.bank_card_no, ic.bank_card_photo, ic.audit_status, ic.money, ic.create_time, ic.update_time
    </sql>
    <select id="getMyClaimsList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, io.pet_name, io.pet_photo, io.pet_breed_name, io.pet_age
        from insurance_claims ic
        left join insurance_order io on ic.medical_insurance_order_id = io.id
        where io.user_Id = #{userId}
        <if test="startDate != null">
            and ic.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null">
            and ic.create_time &lt; #{endDate}
        </if>
        order by ic.create_time desc
    </select>

    <select id="getClaimsByInsuranceOrderId" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>, io.pet_name, io.pet_photo, io.pet_breed_name, io.pet_age
        from insurance_claims ic
        left join insurance_order io on ic.medical_insurance_order_id = io.id
        where ic.medical_insurance_order_id = #{insuranceOrderId}
        limit 0, 1
    </select>

    <select id="getUserTodoList" resultMap="UserInsuranceTodoVO" parameterType="map">
        SELECT ic.id, ic.money, null as core
        FROM insurance_claims ic
        LEFT JOIN insurance_order io on ic.medical_insurance_order_id = io.id
        WHERE ic.audit_status = 3
        <if test="userId != null">
            and io.user_id = #{userId}
        </if>
    </select>
</mapper>