<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.PetBreedMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.PetBreed">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        pb.id, pb.code, pb.name, pb.type
    </sql>
    <select id="getDataByTypeAndName" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from pet_breed pb
        where 1 = 1
          <if test="type != null">
              and pb.type = #{type}
          </if>
         <if test="name != null and name != ''">
            and pb.name like concat('%', #{name}, '%')
         </if>
        limit #{pageNum}, #{pageSize}
    </select>
</mapper>