<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chongdao.client.mapper.ShopApplyMapper">
    <resultMap id="BaseResultMap" type="com.chongdao.client.entitys.ShopApply">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="apply_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="apply_note" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="check_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="check_note" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="real_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
            <arg column="status" jdbcType="TINYINT" javaType="java.lang.Integer"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="shop_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="deduct_rate" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        sa.id, sa.shop_id, sa.apply_money, sa.apply_note, sa.check_time, sa.check_note, sa.real_money, sa.status, sa.create_time, sa.update_time
    </sql>
    <select id="getShopApplyListPc" resultMap="BaseResultMap" parameterType="map">
        select sa.*, s.shop_name, null as deduct_rate
        from shop_apply sa
        left join shop s on sa.shop_id = s.id
        where 1 = 1
        <if test="shopName != null and shopName != ''">
            s.shop_name = #{shopName}
        </if>
        <if test="shopId != null">
            sa.shop_id = #{shopId}
        </if>
        <if test="startDate != null">
            sa.create_time &gt; #{startDate}
        </if>
        <if test="endDate != null">
            sa.create_time &lt; #{endDate}
        </if>
        order by sa.create_time desc
    </select>
</mapper>